body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #f0f0f0;
    background-image: url(https://thumbs.dreamstime.com/b/espa%C3%A7o-de-gal%C3%A1xias-brancas-fundo-c%C3%A9u-com-objetos-c%C3%B3smicos-belos-universo-preenchidos-as-estrelas-nebulosa-e-gal%C3%A1xia-no-173560408.jpg);
}

.container {
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    transition: transform 0.3s;
}

.card img {
    width: 80%;
    height: 80%;
    display: none;
    position: absolute;
}

.card.flipped img {
    display: block;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.1em;
}

button:hover {
    background-color: #45a049;
}

#attempts, #history {
    font-size: 1.2em;
    margin-top: 20px;
}
